
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<span class="text-white">About Us</span>
					<h1 class="text-capitalize mb-5 text-lg">About Us</h1>

					<!-- <ul class="list-inline breadcumb-nav">
					  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
					  <li class="list-inline-item"><span class="text-white">/</span></li>
					  <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color">Personal care for your healthy living</h2>
			</div>
			<div class="col-lg-8">
				<p>We are a multi speciality hospital that provides quality and affordable healthcare services to the people of Assam and North East. We have a team of experienced and qualified doctors, nurses and paramedics who are committed to delivering compassionate and personalized care to our patients. We offer a range of medical specialties, such as cardiology, neurology, orthopedics, gynecology, pediatrics, oncology, and more. We also have state-of-the-art diagnostic and therapeutic facilities, such as ultrasound, endoscopy, dialysis, and ICU. Our hospital is equipped with 100 beds, 4 operation theatres, 20 intensive care units, and 24/7 emergency services. We follow the highest standards of safety and hygiene. Our vision is to be the preferred choice of healthcare for the people of North East and beyond. Our mission is to provide quality care with compassion, respect and dignity. We value excellence, integrity, teamwork and innovation. We welcome you to our hospital and hope to serve you with the best of our abilities. Thank you for choosing us.🙏.</p>
				
			</div>
		</div>
	</div>
</section>

