
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/_Layout.cshtml";
}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Book your Seat</span>
                    <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                        <i class="icofont-support text-lg"></i>
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="text-color mt-3">+91 60013 59912 </h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Book an appoinment</h2>
                    <p class="mb-4">Please select doctor and call for appointment</p>
                    <form id="#" class="appoinment-form" method="post" action="#">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Choose Doctor</option>
                                        @foreach (var item in Hospital.Data.HospitalData.Doctors)
			                            {				
                                            <option>@(item.Name), @(item.Qualification), @(item.Designation), @item.Department</option>
                                        }
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>
                            
                            <h4 class="text-color mt-3">Please call +91 60013 59912 for appointment </h4>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

